.embla {
  position: relative;
  margin-top: 20px;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 12px;
}

.embla__slide {
  flex: 0 0 33.333%;
}

.embla__slide img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 6px;
}



